H1 ,H2
{
    line-height: 1.2
}

.still /* pour sélectioner tous les "still" du texte via un span */
{
font-style: italic
}

body
{
margin: 40px auto;
max-width: 650px;
line-height: 1.6;
font-size: 18px;
color: #444;
padding: 0 10px;
}
header
{
line-height: 1.6;
color: #444;
font-size: 18px
}